@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title">
            <i class="menu-icon fa fa-tasks fa-lg text-primary me-2"></i> Categories
        </h5>

        <div class="card-toolbar">
            <a href="javascript:;" class="btn btn-sm btn-primary js-render-modal"
            data-title="Add Category" data-url="/Categories/Create">
                <i class="fa fa-plus-circle"></i> Add
            </a>
        </div>
    </div>

    <div class="card-body">
        @if (!Model.Any())
        {

            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <!--begin::Icon-->
                <!--begin::Svg Icon | path: icons/duotune/communication/com003.svg-->
                <span class="svg-icon svg-icon-2hx svg-icon-warning me-4 mb-5 mb-sm-0">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor" />
                        <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor" />
                        <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <!--end::Icon-->  <div>
                    No Categories  Found Now!
                </div>
            </div>
        }
        else
        {
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Created on</th>
                        <th>Last Update</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                     <partial name="_Categoryrow" model="@category" />
                    }
                </tbody>
            </table>

        }
    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('body').delegate('.js-toggle-status', 'click', function () {
                var btn = $(this);

                bootbox.confirm({
                    message: "Are you sure that you need to toggle this item status?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.post({
                                url: '/Categories/ToggleStatus/' + btn.data('id'),
                                data: {
                                    '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                                },
                                success: function (lastUpdatedOn) {
                                    var row = btn.parents('tr');
                                    var status = row.find('.js-status');
                                    var newStatus = status.text().trim() === 'Deleted' ? 'Available' : 'Deleted';
                                    status.text(newStatus).toggleClass('bg-success bg-danger');
                                    row.find('.js-updated-on').html(lastUpdatedOn);
                                    row.addClass('animate__animated animate__flash');

                                    showSuccessMessage();
                                },
                                error: function () {
                                    showErrorMessage();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}
